/* .draw {
    background: purple;
} */
/* .css-9emuhu-MuiPaper-root-MuiDrawer-paper {
  border-radius: 25px 25px 0 0;
  box-shadow: 0px -0.5px 0px rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(10px);
} */
/* .drawerHeading {
  display: flex;
  justify-content: space-between;
  margin: 18px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #111111;
} */
/* .drawerBody {
  margin: 0 20px;
} */

/* .checkImage {
  margin: 0 13px;
  width: 16.78px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .drawerItem {
  display: flex;

  margin: 15px 0;
} */

/* .itemName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #111111;
  background-color: aqua;
} */

/* .estDate {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: #888888;
} */
/* }
.mainTotal {
  margin: 10px 17px;
} */
/* .subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: aqua;
} */
/* .subTotalText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #888888;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #111111;
  background-color: aqua;
} */
